<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800607926136-74obf7604q04td116679j6n1ccrhc3u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800607926136-74obf7604q04td116679j6n1ccrhc3u7</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ4Ws-DXkq4jKn9t5vX3FUGLr-TzMywFg</string>
	<key>GCM_SENDER_ID</key>
	<string>800607926136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kisiselButceYonetimi</string>
	<key>PROJECT_ID</key>
	<string>kisiselbutceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kisiselbutceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800607926136:ios:12c9fb84663264eae03a8d</string>
</dict>
</plist>